[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
panda = "*"
tensorflow = "*"
keras = "*"
flask = "*"
pillow = "*"
eventlet = "*"
python-socketio = "*"
opencv-python = "*"
moviepy = "*"
ipython = "*"
sklearn = "*"

[dev-packages]

[requires]
python_version = "3.6"
